@media screen and (min-width: 1300px)
{
    .arriba 
    {
        background-color: rgb(161, 211, 177);
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .nombre 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        flex: 1;
    }
    .nombre a
    {
        text-decoration: none;
        color: green;
    }
    .contenido 
    {
        color: green;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        font-family: Arial, sans-serif;
        padding: 0 50px;
        flex: 1;
    }
    .contenido a
    {
        color: green;
        text-decoration: none
    }
    .contenedor1
    {
        background-color: #d8ffdb;
        height: 1300px;
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 60px;
    }
    .titulo
    {
        background-color: green;
        height: 100px;
    }
    .contenedor1 h1
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(30px);
        color: white;
    }
    .contenido1
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido1 h3
    {
        color: black;
        font-size: 28px;
    }
    .contenido1 a
    {
        color: black;
        font-size: 20px;
    }
    .formulario-atencion 
    {
        background-color: #d8ffdb;
        width: 60%;
        margin-left: 270px;
        padding: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .titulo-form 
    {
        text-align: center;
        color: green;
        font-size: 28px;
        margin-bottom: 10px;
    }
    .formulario-atencion label 
    {
        font-weight: bold;
        color: green;
    }
    .formulario-atencion input,
    .formulario-atencion select,
    .formulario-atencion textarea 
    {
        padding: 10px;
        border: 1px solid green;
        border-radius: 5px;
        font-size: 15px;
    }
    .subtitulo-form 
    {
        margin-top: 10px;
        font-weight: bold;
        color: green;
    }
    .botones-form 
    {
        display: flex;
        justify-content: center;
        gap: 20px;
     margin-top: 15px;
    }
    .botones-form button 
    {
        padding: 10px 20px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .botones-form button:hover 
    {
        background-color: rgb(0, 100, 0);
    }
    .abajo
    {
        background-color: rgb(80, 80, 80);
        background-size: cover;
        height: 300px;
        width: 100%;
        display: flex;
    }
    .seccion1
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        margin-left: 200px;
        margin-top: 50px;
    }
    .subseccion1
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 5px;
    }
    .subseccion1 a
    {
        text-decoration: none;
        color: #b6b6b6;
    }
    .seccion2
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        margin-top: 50px;
    }
    .subseccion2
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 5px;
    }
    .subseccion2 a
    {
        text-decoration: none;
        color: #b6b6b6;
    }
    .seccion3
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        margin-top: 50px;
    }
    .subseccion3
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 5px;
        text-decoration: none;
    }
    .subseccion3 a
    {
        text-decoration: none;
        color: #b6b6b6;
    }
    .seccion4
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        margin-top: 50px;
    }
    .subseccion4
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 5px;
    }
}




@media screen and (max-width: 1299px) and (min-width: 600px)
{
    .arriba 
    {
        background-color: rgb(161, 211, 177);
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .nombre 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        flex: 1;
    }
    .nombre a
    {
        text-decoration: none;
        color: green;
    }
    .contenido 
    {
        color: green;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        font-family: Arial, sans-serif;
        padding: 0 50px;
        flex: 1;
    }
    .contenido a
    {
        color: green;
        text-decoration: none
    }
    .contenedor1
    {
        background-color: #d8ffdb;
        height: 1300px;
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 60px;
    }
    .titulo
    {
        background-color: green;
        height: 100px;
    }
    .contenedor1 h1
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(30px);
        color: white;
    }
    .contenido1
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido1 h3
    {
        color: black;
        font-size: 28px;
    }
    .contenido1 a
    {
        color: black;
        font-size: 20px;
    }
    .formulario-atencion 
    {
        background-color: #d8ffdb;
        width: 60%;
        margin-left: 150px;
        padding: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .titulo-form 
    {
        text-align: center;
        color: green;
        font-size: 28px;
        margin-bottom: 10px;
    }
    .formulario-atencion label 
    {
        font-weight: bold;
        color: green;
    }
    .formulario-atencion input,
    .formulario-atencion select,
    .formulario-atencion textarea 
    {
        padding: 10px;
        border: 1px solid green;
        border-radius: 5px;
        font-size: 15px;
    }
    .subtitulo-form 
    {
        margin-top: 10px;
        font-weight: bold;
        color: green;
    }
    .botones-form 
    {
        display: flex;
        justify-content: center;
        gap: 20px;
     margin-top: 15px;
    }
    .botones-form button 
    {
        padding: 10px 20px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .botones-form button:hover 
    {
        background-color: rgb(0, 100, 0);
    }
    .abajo
    {
        background-color: rgb(80, 80, 80);
        background-size: cover;
        height: 300px;
        width: 100%;
        display: flex;
    }
    .seccion1
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        margin-top: 50px;
    }
    .subseccion1
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 5px;
    }
    .subseccion1 a
    {
        text-decoration: none;
        color: #b6b6b6;
    }
    .seccion2
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        margin-top: 50px;
    }
    .subseccion2
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 5px;
    }
    .subseccion2 a
    {
        text-decoration: none;
        color: #b6b6b6;
    }
    .seccion3
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        margin-top: 50px;
    }
    .subseccion3
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 5px;
        text-decoration: none;
    }
    .subseccion3 a
    {
        text-decoration: none;
        color: #b6b6b6;
    }
    .seccion4
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0px 80px;
        margin-top: 50px;
    }
    .subseccion4
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 5px;
    }
}
.menu-hover 
{
    position: relative;
}
.submenu 
{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(161, 211, 177);
    display: flex;
    flex-direction: column;
    width: 220px;
    border-radius: 8px;
    padding: 10px 0;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease;
    z-index: 9999;
}
.submenu a 
{
    padding: 12px 20px;
    text-decoration: none;
    color: green;
    font-size: 18px;
}
.submenu a:hover 
{
    background: rgb(132, 192, 152);
}
.menu-hover:hover .submenu 
{
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) translateY(0);
}