.arriba 
{
    background-color: rgb(161, 211, 177);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.nombre 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
}
.nombre a
{
    text-decoration: none;
    color: green;
}
.contenido 
{
    color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 0 50px;
    flex: 1;
}
.contenido a
{
    color: green;
    text-decoration: none
}
.contenedor1
{
    background-color: #d8ffdb;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
}
.titulo
{
    background-color: green;
    height: 100px;
}
.contenedor1 h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(30px);
    color: white;
}
.contenido1, .contenido2, .contenido3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(40px);
}
.subcontenido1, .subcontenido2, .subcontenido3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(40px);
    margin-left: 40px;
    margin-right: 10px;
}
.abajo
{
    background-color: rgb(80, 80, 80);
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
}
.seccion1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    transform: translateX(350px);
    margin-top: 50px;
}
.subseccion1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
}
.subseccion1 a
{
    text-decoration: none;
    color: #b6b6b6;
}
.seccion2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    transform: translateX(350px);
    margin-top: 50px;
}
.subseccion2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
}
.subseccion2 a
{
    text-decoration: none;
    color: #b6b6b6;
}
.seccion3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    transform: translateX(350px);
    margin-top: 50px;
}
.subseccion3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
    text-decoration: none;
}
.subseccion3 a
{
    text-decoration: none;
    color: #b6b6b6;
}
.seccion4
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    transform: translateX(350px);
    margin-top: 50px;
}
.subseccion4
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
}
.menu-hover 
{
    position: relative;
}
.submenu 
{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(161, 211, 177);
    display: flex;
    flex-direction: column;
    width: 220px;
    border-radius: 8px;
    padding: 10px 0;
    gap: 10px;

    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease;
    z-index: 9999;
}
.submenu a 
{
    padding: 12px 20px;
    text-decoration: none;
    color: green;
    font-size: 18px;
}
.submenu a:hover 
{
    background: rgb(132, 192, 152);
}
.menu-hover:hover .submenu 
{
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) translateY(0);
}